#cloud-config

users:
  - default
  - name: ubuntu
    ssh_authorized_keys:
      - ${ssh_authorized_key}

packages:
  - curl
  - apt-transport-https
  - ca-certificates
  - gnupg

package_update: true
package_upgrade: false

runcmd:
  - systemctl enable --now ssh
